Host kino
  HostKeyAlias kino
  HostName dserver
  CheckHostIP no
  Port 9092
  User user
  Ciphers aes128-gcm@openssh.com
  MACs umac-64-etm@openssh.com

Host dserver
  AddressFamily inet
  CheckHostIP no
  Ciphers aes128-gcm@openssh.com
  MACs umac-64-etm@openssh.com

Host www.hippyru.net
  AddressFamily inet
  CheckHostIP no
  Port 2022
  Ciphers aes128-gcm@openssh.com
  MACs umac-64-etm@openssh.com

Host *
  GSSAPIAuthentication no
  SendEnv LANG
